<div ng-app="app.cruiselineApp" ng-controller="CruiselineListCtrl">
	<h1>Choose Your Sailings<span>(Pick one for each box)</span></h1>

	
	<div ng-repeat="cruiseline in cruiselines">

		
		<div>{{cruiseline.cruise_line_name}}</div>
		<div>{{cruiseline.cruise_ship_name}}</div>

		<div ng-repeat="sailing in cruiseline"></div>
			<div>{{sailings.sailing_options.sailling_price}}</div>
			<div>{{sailing.sailing_main_image}}</div>
			<div>{{sailings.sailing_name}}</div>


			<div ng-repeat="sailoption in sailing">
				<div>{{sail.sailling_price}}<div/> 
				<div>{{sail.sailing_date}}</div>
			</div>
		</div>
	</div>



	<div>Your Selected Sailings Total</div>
	<div>@total</div>
</div>