<!DOCTYPE html>
<html>
<head>
  <title>CruiseLine</title>
 
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


</body>
</html>

# $scope.cruise_line_name
# $scope.cruise_ship_name
# $scope.sailings.sailing_name
# $scope.sailings.sailing_main_image
# $scope.sailings.sailing_options.sailling_prise
# $scope.sailings.sailing_options.sailing_date
